.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 20%;
}

.img {
    width: 60px
}

.avatar {
    width: 25%;
}

.page {
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.selectedPage {
    font-weight: bold;
}